*{
  padding: 0;
  margin: 0;
}

body{
  background-color: lavender;
}


main {
  display: flex; 
  flex-wrap: wrap;
  margin: auto;
  max-width: 1600px;
}

button {

  font-size: 25px;
  padding: 15px;
  background-color:lightblue;
  max-width: 30%;
  border-radius: 10px;
  border-style:none;
  border-color: #000;
  border-width: 1px;
}

button:focus {
  outline: none;
}

button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

label {
  font-size: 40px;
}

#root{
  height: 100vh;
  display: flex;
}

.cards {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: bisque;
  padding: 20px;
  margin: 12px;
  border-radius: 12px;
  /* border: solid 2px #777; */
  box-shadow: 0 0 12px #000;
}

.cards img{
  border-radius: 12px;
}

.round {
  width: 4rem;
  height: 4rem;
  box-sizing: border-box;
  border-radius: 50%;
  border-top: 6px solid #00acc1;
  border-left: 6px solid #60dbeb;
  border-bottom: 6px solid #00acc1;
  border-right: 6px solid #60dbeb;
  animation: 1s infinite linear rotateMe;
}

.error-message {
  /* border-style:solid;
  border-color: #000;
  border-width: 2px; */
  background-color:bisque;
  padding:1em;
  box-shadow:5px 5px 20px black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

@keyframes rotateMe {
  0% {transform: rotate(0)}
  100% {transform: rotate(360deg)}
}

